:root {
  --primary : green;
  --error: red;
}

body{
  background-color: aliceblue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #fff;
}

header .container{
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  color: black;
  text-decoration: none;

}

.pages {
  max-width: 14000px;
  padding: 20px;
  margin: 0 auto;
}